.bg-primary-400 {
  --tw-bg-opacity: 1;
  background-color: rgba(29, 78, 137, var(--tw-bg-opacity));
}
.bg-primary-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(29, 78, 137, var(--tw-bg-opacity));
}
.bg-primary-600 {
  --tw-bg-opacity: 1;
  background-color: rgba(29, 78, 137, var(--tw-bg-opacity));
}
.bg-primary-700 {
  --tw-bg-opacity: 1;
  background-color: rgba(29, 78, 137, var(--tw-bg-opacity));
}
.bg-primary-800 {
  --tw-bg-opacity: 1;
  background-color: rgba(29, 78, 137, var(--tw-bg-opacity));
}
.bg-primary-900 {
  --tw-bg-opacity: 1;
  background-color: rgba(29, 78, 137, var(--tw-bg-opacity));
}

.text-primary-300 {
  --tw-text-opacity: 1;
  color: rgba(29, 78, 137, var(--tw-text-opacity));
}
.text-primary-400 {
  --tw-text-opacity: 1;
  color: rgba(29, 78, 137, var(--tw-text-opacity));
}
.text-primary-500 {
  --tw-text-opacity: 1;
  color: rgba(29, 78, 137, var(--tw-text-opacity));
}
.text-primary-600 {
  --tw-text-opacity: 1;
  color: rgba(29, 78, 137, var(--tw-text-opacity));
}
.text-primary-700 {
  --tw-text-opacity: 1;
  color: rgba(29, 78, 137, var(--tw-text-opacity));
}
.text-primary-800 {
  --tw-text-opacity: 1;
  color: rgba(29, 78, 137, var(--tw-text-opacity));
}
.text-primary-900 {
  --tw-text-opacity: 1;
  color: rgba(29, 78, 137, var(--tw-text-opacity));
}

.border-primary-300 {
  --tw-border-opacity: 1;
  border-color: rgba(29, 78, 137, var(--tw-border-opacity));
}
.border-primary-400 {
  --tw-border-opacity: 1;
  border-color: rgba(29, 78, 137, var(--tw-border-opacity));
}
.border-primary-500 {
  --tw-border-opacity: 1;
  border-color: rgba(29, 78, 137, var(--tw-border-opacity));
}
.border-primary-600 {
  --tw-border-opacity: 1;
  border-color: rgba(29, 78, 137, var(--tw-border-opacity));
}
.border-primary-700 {
  --tw-border-opacity: 1;
  border-color: rgba(29, 78, 137, var(--tw-border-opacity));
}
.border-primary-800 {
  --tw-border-opacity: 1;
  border-color: rgba(29, 78, 137, var(--tw-border-opacity));
}
.border-primary-900 {
  --tw-border-opacity: 1;
  border-color: rgba(29, 78, 137, var(--tw-border-opacity));
}

.text-primary {
  color: rgba(29, 78, 137);
}

.text-primary:hover {
  color: rgba(29, 78, 137);
}
