a:link {
  color: #0074D9;
}

a:visited {
  color: #7FDBFF;
}

a {
  margin: .5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

div {
  margin: 1rem;
}

footer {
  color: grey;
}

h1 {
  margin: 1rem;
}


h5 {
  margin: .5rem;
}

header {
  width: 100%;
  display: flex;
  align-items: left;
  margin: 1rem;
  }

li * {
  margin: 1rem;
  
}

p {
  margin: .5rem;
}


img {
  width: 80%;
  
}

ul {
  list-style: none;
  border: 1px solid #F4F4F4;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #333333;
  font-weight: 300;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#top {
  margin: 2rem;
}

